* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.root {
  display: flex;

  .user {
    padding: 10px;
    margin: 10px;
    background: lightblue;
    cursor: pointer;

    .tooltip {
      position: absolute;
      background: #333;
      color: #eee;
      pointer-events: none;
      transform: translateY(-1rem);
    }
  }

  ul {
    list-style: none;
    background: #eee;
    padding: 0.25rem;
    margin: 0.25rem;
  }
}